.mb-header {
  padding: 2rem 1.2rem;
  padding-top: 3rem;
  color: #fff;
  // background: url(bg.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  background-color: #149EF0;

  &__logo {
    font-size: 1.8rem;
    color: #1D6BBF;
    font-family: 'font-900';
    text-transform: uppercase;
    letter-spacing: 1.2;
    padding-bottom: 1.2rem;
  }

  &__about {
    font-size: 1.8rem;
    line-height: 1.2;
    padding: .5rem 0;
    padding-bottom: 1.2rem;
    text-align: center;
  }
}
