.mb-ads-list-home {
  color: #2E414B;

  &__title {
    padding: 1.5rem 1.2rem;
    font-size: 1.5rem;
    background-color: #5469A4;
    color: #F0F3F9;
  }

  &__list {
    //padding: 1rem 0;
  }

  &__preloader {
    text-align: center;
    padding: 10% 0;
    font-size: 1.5rem;
    color: #ccc;
  }
}
