<div ng-cloak>
  <gm-header></gm-header>

  <div block="mb-ads-list-home">
      <div elem="title">Все объявления</div>
      <div ng-if="!home.latest.length" elem="preloader">
         Ура! :] Ваше объявление будет первым.
      </div>
      <div elem="list" ng-if="home.latest" ng-repeat="flat in home.latest">

        <a href="f/{{flat._id}}" block="mb-flat-item-link">
          <div elem="address">{{ flat.address.short }}</div>
          <div elem="info">{{ flat.size }}-комнатная за <span elem="cost">{{ flat.cost }}</span></div>
        </a>

      </div>
  </div>
</div>
