<!doctype html>
<html lang="ru" ng-app="webapp">
<head>
<meta name="fragment" content="!">
<meta name="app" content="<app/>">
<meta name="version" content="<version/>">
<meta name="build" content="<build/>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>мобильный getflat</title>
<style type="text/css">
html, body {
    font: 13px 'font-300', Verdana, Arial, sans-serif;
    background: #F0F3F9;
    height:100%;
    overflow-x: hidden;
    margin: 0; padding: 0;
}
body { position: relative; }
</style>
<css/>
</head>
<body ng-controller="webAppController as webapp" ng-cloak>

    <div ng-view></div>

</body>
<javascript/>
<script>
(function() {
  function b() {
    var a = document.createElement("style");
    a.rel = "stylesheet";
    document.head.appendChild(a);
    a.textContent = localStorage.gf_fonts;
  }
  try {
    if (localStorage.gf_fonts) return b();
    var a = new XMLHttpRequest;
    a.open("GET", "assets/fonts.css", !0);
    a.onload = function() {
      200 <= a.status && 400 > a.status && (localStorage.gf_fonts = a.responseText, b());
    };
    a.send();
  } catch (c) {
    console.error(c);
    localStorage.removeItem('gf_fonts');
  }
})();
</script>
</html>
