<!doctype html>
<html lang="ru" ng-app="webapp">
<head>
<meta name="app" content="<app/>">
<meta name="version" content="<version/>">
<meta name="build" content="<build/>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>мобильный getflat</title>
<style type="text/css">
html, body {
    font: 13px 'font-300', Verdana, Arial, sans-serif;
    background: #F0F3F9;
    height:100%;
}
</style>
<css/>
</head>
<body ng-controller="webAppController as webapp">

    <div ng-view></div>

</body>
<javascript/>
</html>
